<nav class="bg-amber-900 w-screen">
  <div class="flex flex-wrap items-center justify-between p-4">
    <img src="https://cdn.pixabay.com/photo/2016/03/31/19/16/book-1294864_960_720.png" class="h-10 items-center" alt="Tailwind Play" />
    <p class="text-2xl font-semibold text-white">Organizador de Leituras</p>
    <button data-collapse-toggle="navbar-default" type="button" class="ml-3 inline-flex items-center rounded-lg p-2 text-sm text-white focus:outline-none focus:ring-2 focus:ring-gray-200 md:hidden" aria-controls="navbar-default" aria-expanded="false">
      <span class="sr-only">Open main menu</span>
      <svg class="h-6 w-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
    </button>
    <div class="hidden w-full md:block md:w-auto" id="navbar-default">
      <ul class="mt-4 flex flex-col">
        <li>
          <a href="#" class="block rounded text-white" aria-current="page">Home</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="flex w-screen flex-col bg-orange-100">
  <h1 class="my-5 flex justify-center text-2xl font-semibold text-amber-900">Lista de Livros</h1>
  <div class="flex justify-end">
    <%= link_to "Adicionar Livro", new_book_path, class: "mx-5 flex w-2/12 items-center justify-center rounded-md border bg-amber-900 py-2 text-white" %>
  </div>
  <% @books.each do |book| %>
    <div class="m-5 rounded-lg bg-white p-5 shadow-xl">
      <div class="flex flex-col items-center justify-between lg:flex-row">
        <img src="https://m.media-amazon.com/images/I/71+YcLO29uL.jpg" class="h-20 items-center" alt="Tailwind Play" />
        <div class="flex flex-row">
          <label class="px-2 font-semibold">Título:</label>
          <%= book.name %>
        </div>
        <div class="flex flex-row">
          <label class="px-2 font-semibold">Autor:</label>
          <%= book.author %>
        </div>
        <div class="flex flex-row">
          <label class="px-2 font-semibold">Páginas:</label>
          <%= book.page_quantity %>
        </div>
        <a class="underline hover:cursor-pointer hover:text-blue-400">Visualizar</a>
      </div>
    </div>
  <% end %>
</div>
